h1 {
    text-align: center;
    font-family:Broadway;
    font-size: 40px;
    color: darkblue;
}

h2 {
    text-align: left;
    font-family:Broadway;
    font-size: 20px;
    color: darkblue;
}


#tab1 {
    border-top: solid 5px;
    padding: 10px;

}

td {
    border: solid 4px;
    padding: 15px;
}

body {
    background: lightblue;
}

#insert {
    margin: 10px;
}

#manund{
    width: 300px;
    height: 300px;

}

.buttons{
    padding: 50px;
    margin: auto;
}

.del {
    border: black ;
    margin-right: 1px;
}

input[type=checkbox]:checked + span{
    text-decoration: line-through;
}
